@import "../../font-styles.scss";
@import "../../variables.scss";

.otp-input__container {
  &.verification {
    .otp-box {
      &__header {
        font-family: Open sans;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 12px;

        .otp-box__header__heading {
          @include heading-3;
        }
      }

      &__desc {
        @include paragraph;
        margin-bottom: 20px;
        color: $bread-crumb-inactive-font;

        &__email {
          @include heading-5;
          display: flex;
          align-items: center;
          gap: 5px;
          margin-top: 10px;

          .admin-password-email {
            @include heading-5;
            color: $dark-black;
          }
        }
      }

      .otp-component {
        margin-bottom: 20px;
      }
    }
  }
}
