@import "../../font-styles.scss";
@import "../../variables.scss";
.input-box {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.label-name {
  @include heading-5;
}

.input-field {
  width: 470px;
  margin-top: 5px;
  padding: 14px;
  height: 52px;
  outline: none;
  border: 1px solid $bread-crumb-inactive-font;
  border-radius: 8px;
}
