@import '../../font-styles.scss';
@import '../../variables.scss';



.Header-container {
    display: flex;
    gap: 5px;

    &__title {
        @include heading-2;
        color: $primary-blue;
        font-weight: bold;
    }

    &__exclametry {
        @include heading-2;
        color: $error;
        font-weight: bold

    }
}