@import '../../variables.scss';
@import '../../font-styles.scss';

.xen-interaction-btn {
    padding: 17px 16px;
    width: 100%;
    margin-top: 15px;
    @include heading-4;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    max-height: 56px;
    font-size: larger;
    &.dark {
        background-color: $primary-blue;
        color: $primary-white;
        border: none;
    }

    &.light {
        background-color: $primary-white;
        color: $primary-blue;
        border: 1px solid $primary-blue;
    }
}

.xen-interaction-btn:hover {
    background-color: $button-hover
}

.otp__container-submit{

    width: 90%;
    
}