@import "../../variables.scss";
@import "../../font-styles.scss";

.xen-dialog {
  background-color: $dark-overlay;
  backdrop-filter: blur(2px);
  font-stretch: normal;
  font-style: normal;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  letter-spacing: normal;
  line-height: normal;
  position: fixed;
  z-index: 110;

  &__wrapper {
    overflow: hidden;
    position: relative;
    background-color: $primary-white;
    width: 40%;
    padding: 24px;
    border-radius: 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      @include heading-3;
    }

    &--close-button {
      border: none;
      background-color: $primary-white;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__footer {
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;

      .xen__action-button {
        width: 100%;
        padding: 14px 16px 14px 16px;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        @include heading-4;

        &.light {
          background-color: $primary-white;
          color: $primary-blue;
          border: 1px solid $primary-blue;
        }

        &.red {
          background-color: $primary-white;
          color: #f52020;
          border: 1px solid #bec1dc;
        }

        &.dark {
          background-color: $primary-blue;
          color: $primary-white;
        }
      }
    }
  }

  &--top-view {
  }

  &--left-view {
  }

  &--bottom-view {
  }

  &--right-view {
    .xen-dialog__wrapper {
      right: 0;
      left: 75%;
      height: 100%;
      width: 25%;
      border-radius: 10px 0px 0px 10px;

      .xen-dialog__footer {
        &__wrapper {
          position: absolute;
          flex-direction: column;
          bottom: 20px;
          width: 90%;
        }
      }
    }
  }

  &--center-view {
    .xen-dialog__wrapper {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.stat-dialog {
    .xen-dialog__wrapper {
      width: 222px;

      .dialog-content {
        p {
          @include heading-5;
          padding: 13.5px 12px;
          cursor: pointer;
        }
      }
    }
  }

  &.add-user-dialog {
    .xen-dialog__wrapper {
      width: 500px;
    }
  }

  &.invoice-status {
    .xen-dialog__wrapper {
      width: 350px !important;
      max-height: 300px !important;
    }
  }
  &.view-invoice {
    .xen-dialog__wrapper {
      min-width: 600px !important ;
      max-height: 98vh;
    }
  }

  &.view-otp-dialog {
    .xen-dialog__wrapper {
      width: 400px;
    }
  }

  &.logout-dialog {
    .xen-dialog__wrapper {
      width: 358px !important;
      height: 200px !important;

      .xen-dialog__content {
        .logout-dialog-container {
          text-align: center;
          width: 100%;

          p {
            @include heading-3;
            margin-bottom: 26px;
          }
        }
      }
    }

    .xen-dialog__footer__wrapper {
      .xen__action-button {
        width: 159px !important;
        height: 48px !important;
        padding: 14px 17px 14px 17px;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        @include heading-4;

        &.light {
          background-color: $primary-white;
          color: $error;
          border: 1px solid $primary-blue-light;
          // border: 1px solid #BEC1DC;
        }

        &.dark {
          background-color: $primary-blue;
          color: $primary-white;
        }
      }
    }
  }

  &.remove-user-dialog {
    .xen-dialog__wrapper {
      width: 360px;

      .xen-dialog__content {
        text-align: center;

        div {
          .are-you-sure {
            @include heading-3;
            margin-bottom: 12px;
          }

          .click-delete {
            @include small-heads;
            margin-bottom: 28px;
          }
        }
      }
    }
  }

  &.push-notification-dialog {
    .xen-dialog__wrapper {
      width: 560px;

      .xen-dialog__content {
        .push-container {
          width: 100%;

          .dp-container {
            display: flex;
            align-items: center;
            gap: 20px;
            margin: 20px 0px;

            div {
              .display-name {
                @include heading-3;
                margin-bottom: 10px;
              }

              .email {
                @include paragraph;
              }
            }
          }
        }
      }
    }
  }

  &.revoke-services-dialog {
    .xen-dialog__wrapper {
      width: 560px;

      .xen-dialog__content {
        .revoke-container {
          width: 100%;

          .dp-container {
            display: flex;
            align-items: center;
            gap: 20px;
            margin: 20px 0px;

            div {
              .display-name {
                @include heading-3;
                margin-bottom: 10px;
              }

              .revoke-email {
                @include paragraph;
              }
            }
          }
        }
      }
    }
  }

  &.header-dialog {
    .xen-dialog__wrapper {
      // background-color: red;
      width: 250px;

      .xen-dialog__content {
        width: 100%;

        .header-dialog-container {
          width: 100%;

          &__item {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 10px;
            @include body-2;
            cursor: pointer;
          }

          &__item :nth-child(2) {
            margin: 10px 0;
          }
        }
      }
    }
  }
}
