@import '../../font-styles.scss';
@import '../../variables.scss';



.singnup-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;


    &__left {
        grid-column: span 6;
        position: relative;

        &__img {
            height: 35vw;
            width: 35vw;
        }

        &__btn {
            position: absolute;
            right: 60px;
            top: 45px;
            cursor: pointer;
        }
    }

    &__right {
        grid-column: span 6;
        width: 30vw;
        height: 80vh;
        box-shadow: 2px 2px 10px gray;
        border-radius: 15px;
        padding: 40px 35px;

        &__form-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            transition:500ms ;
        }

    }

}


.SignUp-formHeader {
    display: flex;
    justify-content: center;
    gap: 5px;
    cursor: pointer;

    .sign {
        @include heading-3;
        color: $primary-blue;
        text-decoration: underline;
    }

    .in {
        @include heading-3;
        color: $error;
        text-decoration: underline;

    }
}

.selectBox {
    width: 90px;
    height: 80px;
    border-radius: 15px;
    border: 2px solid $border;
    padding: 5px 8px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 215px;
    right: 180px;
    background-color: #E6E6E6;
    z-index: 2;

    &__email {
        @include heading-3;
        cursor: pointer;
    }
}