$primary-blue : #2E368E;
$primary-white: #FFF;
$secondary-blue: #F7F8FB;
$primary-blue-light:#BEC1DC;

$hr-color: #E0E0E0;
$gray-bg: #EAEAEA;
$success : #00A652;
$error: #F52020;

$sub-text: #F9FAFB;
$border: #D9D9D9;
$button-hover: #363e90;

$dropdown-color: #FAFAFA;
$dropdown-font-color: #737373;
$primary-text-color: #1A1A1A;
$dark-black: #242424;

//font
$bread-crumb-inactive-font: #303030;

$dark-overlay: rgb(0 0 0 / 50%);